window.hidden.first-render #dock {
    transition: margin 0 linear;
}

@keyframes marginsRight {
    0% { margin-left: 0; }
    10% { margin-left: 60px; }
    100% { margin-left: 0; }
}
@keyframes marginsLeft {
    0% { margin-right: 0; }
    10% { margin-right: 60px; }
    100% { margin-right: 0; }
}
@keyframes marginsBottom {
    0% { margin-top: 0; }
    10% { margin-top: 60px; }
    100% { margin-top: 0; }
}

@keyframes shadowPulse {
    0% { box-shadow: 0 0 0 rgba(0,0,0,0); }
    10% { box-shadow: 0 0 50px 0 @theme_selected_bg_color; }
    100% { box-shadow: 0 0 0 rgba(0,0,0,0); }
}

window.left #background {
    animation:
        shadowPulse 3s ease-out forwards,
        marginsLeft 3s ease-out forwards;
}

window.right #background {
    animation:
        shadowPulse 3s ease-out forwards,
        marginsRight 3s ease-out forwards;
}
window.bottom #background {
    animation:
        shadowPulse 3s ease-out forwards,
        marginsBottom 3s ease-out forwards;
}

window.first-render #background {
    animation: none;
}

image {
    transition: -gtk-icon-size 300ms ease-out;
}

window #dock {
    transition: margin 300ms ease-out;
}

window.popover-open #dock,
window.hidden:hover #dock
{
    margin: 0px;
}

window.hidden #background {
    background: none;
    border-color: transparent;
    transition: 0 border-color 240ms, 0 background 240ms;
}

#background {
    border-style: solid;
    background: alpha(@theme_base_color, 0.9);
    border-color: @borders;
    transition: 0ms border-color, 0ms background;
    transition-delay: 0ms;
}

.dock-item {
    transition: opacity 200ms, transform 200ms;
}

window:drop(active) .app-item box,
window:drop(active) .app-item {
    transform: scale(1.0);
}

.app-item box {
    opacity: 1.0;
}

window:drop(active):not(:active) .app-item box {
    opacity: 0.0;
}

window.left:drop(active):hover .app-item {
    transform-origin: center;
}

window.left:hover .app-item box,
window.left:hover .app-item {
    transform-origin: left center;
}
window.right .app-item box,
window.right .app-item {
    transform-origin: right center;
}

window.bottom .app-item box,
window.bottom .app-item {
    transform-origin: bottom center;
}

.app-item box .dot-indicator,
.app-item box {
    transition: transform 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms ease 200ms;
}
window:hover .app-item box .dot-indicator,
window:hover .app-item box {
    transition: transform 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms ease 0;
}
.app-item {
    transition: transform 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms;
}

.app-item:active {
    transform: scale(0.9);
}

.app-item:active box {
    transform: scale(calc(1 / 0.9));
}

window:drop(active) {
    border: 0px solid blue;
    box-shadow: none;
    margin: 0px;
}

window.bottom #background { padding: 0 4px; }
window.left #background, window.right #background { padding: 4px 0; }


window.popover-open #background,
window:hover #background {
    transition-delay: 0ms;
    border-color: @borders;
    background: alpha(@theme_base_color, 0.9);
}




window.bottom #background {
    border-radius: 10px 10px 0 0;
    border-width: 1px 1px 0px 1px;
}

window.left #background {
    border-radius: 0 10px 10px 0;
    border-width: 1px 1px 1px 0px;
}

window.right #background {
    border-radius: 10px 0 0 10px;
    border-width: 1px 0px 1px 1px;
}



.dock-item:disabled {
    opacity: 0.15;
}

window:drop(active):not(:active) .dock-item:hover {
    transform: scale(1.2);
}

scrolledwindow {
    background: @theme_base_color;
    border: 1px solid alpha(@borders, 0.5);
    border-radius: 6px;
    margin: 5px;
}

arrow {
    background: @theme_bg_color;
}

.background.folder-view contents {
    background: @theme_bg_color;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 0px @borders,
                0 5px 10px 5px alpha(black, 0.4);
}

.folder-view .header {
    font-size: 11pt;
    margin: 5px 0 0px 0;
    font-weight: 500;
}

window.right .dock-item {
    margin: 0 1px 0 0;
    padding: 4px 6px 4px 4px;
}

window.left .dock-item {
    margin: 0 0 0 1px;
    padding: 4px 4px 4px 6px;
}

window.bottom .dock-item {
    margin: 0 0 1px 0;
    padding: 2px 4px 6px 4px;
}

.dock-item:selected {
    box-shadow: inset 0 0 10px 3px alpha(@theme_selected_bg_color, 0.4);
    border-radius: 5px;
}


window .dock-item {
    color: alpha(@theme_text_color, 0.6);
}

.dock-item .thumbnail-widget {
    margin: 10px;
}

.background.folder-view flowboxchild {
    margin: 2px;
}

.thumbnail-widget {
    outline: 1px solid alpha(@borders, 0.5);
    border-radius: 4px;
    box-shadow: 0 2px 6px 3px alpha(black, 0.4);
}

.badge,
.dock-item.window-item .badge {
    background-color: @theme_selected_bg_color;
}
.dock-item.folder-item .badge {
    background-color: @warning_color;
}

.dock-item .badge {
    border-radius: 50%;
    font-size: 13px;
    font-weight: 500;
    padding: 13px;
    color: white;
    background-color: @error_color;
}

@keyframes fade-in {
    0% {
        opacity: 0.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

.dot-indicator {
    animation: fade-in 1300ms ease-out;
    background: alpha(@fg_color, 0.6);
    border-radius: 50%;
    min-height: 4px;
    min-width: 4px;
}

window.left .dot-indicator {
    margin-top: 1px;
}

window.right .dot-indicator {
    margin-top: 1px;
}
window.bottom .dot-indicator {
    margin-bottom: 1px;
    margin-left: 1px;
}

